.home-container {
   position: absolute;
   left: 45.5%;
   width: 36rem;
   height: 100vh;
   transform: translate(-50%, 0);
   border-left: 2px solid var(--body-color-2);
   border-right: 2px solid var(--body-color-2);
}

.home-container .home-content {
   padding: 8px 13px;
}

.home-heading p {
   padding: 10px 12px;
   border-bottom: 2px solid var(--body-color-2);
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 1.3rem;
   /*background: red;*/
}

.tweet-area {
   display: flex;
   width: 100%;
}

/*text area div*/
.textareas {
   display: flex;
   flex-direction: column;
   width: 100vw;
   padding: 5px;
   margin-bottom: 10px;
}

/*tweet textarea*/
.tweet-textarea {
   display: flex;
   font-family: Sans-Serif;
   font-size: 1rem;
   width: 100%;
   height: auto;
   padding: 8px;
   border: none;
   outline: none;
   background: transparent;
}

.tweet-textarea::placeholder {
   color: #93a1ac;
}

.tweet-caracters-infor {
   color: #93a1ac;
   position: absolute;
   right: 10px;
   bottom: 10px;
}

.tweet-profile-picture {
   border-radius: 50px;
   width: 40px;
}

.t-area-div {
   position: relative;
}

.infors {
   display: flex;
   flex: row;
   justify-content: space-between;
}

.icons {
   margin-left: 8px;
}

/*tweet icons btn*/
.icons .bx {
   color: var(--main-color);
   cursor: pointer;
   font-size: 1.25rem;
}

.btn-tweet-confirm button {
   padding: 0 15px;
   font-weight: bold;
   height: 35px !important;
   border-radius: 50px;
   background: var(--main-color);
   color: #fff;
   cursor: pointer;
   border: 2px solid var(--main-color);
}

.menu-open-and-logo {
   display: none;
}

.tweet {
   /*display: flex;*/
   padding: 10px 0;
   position: relative;
   border-top: 2px solid var(--body-color-2);
   border-bottom: 2px solid var(--body-color-2);
}

.tweet-profile-infors {
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.tweet-profile-name {
   display: flex;
   gap: 4px;
   font-size: 1.15rem;
}

.tweet-name {
   font-weight: bold;
   margin: 5px 0 0 50px;
}
.tweet-username,
.dot-style,
.date {
   font-size: 17px;
   color: #6f7d87;
   margin-top: 7px;
}

.ab-profile {
   display: flex;
   position: absolute;
   margin-left: 0.85rem;
}

.tweet-infors {
   display: flex;
   margin-left: 5px;
}
.tweet-infors div {
   width: 100%;
   display: flex;
}

.user-tweet-name::placeholder,
.user-tweet-username::placeholder{
   color: #93a1ac;
}
.user-tweet-name,
.user-tweet-username{
   padding: 2px 4px;
   font-size: 1rem;
   margin-right: 7px;
   width: 100%;
   border: none;
   border-bottom: 1.5px solid var(--body-color-2);
   background: transparent;
   outline: none;
}

.tweet-text p {
   margin-left: 0.7rem;
   padding: 0 8px 10px 47px;
   font-size: 1rem;
}

.tweet-icons {
   margin-left: 0.7rem;
   padding: 0 8px 10px 47px;
   font-size: 1.2rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #6f7d87;
}

.tweet-icons .bx:nth-child(2) {
   font-size: 1.5rem;
}

@media screen and (max-width: 1050px) {
   .home-container {
      position: absolute;
      left: calc(50% - 14%);
      transform: translate(-50%, 0);
   }
}

@media screen and (max-width: 970px) {
   .home-container {
      position: static;
      margin: 0 50%;
      width: 36rem;
      height: 100vh;
      /*left: 50%;
      top: 0;
      transform: translate(-50%, 0);*/
   }

   .home-heading p {
      /*-webkit-margin-before: 1.5rem;*/
      border-bottom: none !important;
   }

   .home-heading p {
      font-size: 1.2rem;
   }

   .menu-open-and-logo {
      padding: 8px;
      display: flex;
      border-bottom: 2px solid var(--body-color-2);
   }

   .menu-mobile-profile-pic {
      width: 35px;
      border-radius: 50px;
   }

   .twitter-heading-logo {
      position: absolute;
      color: var(--main-color);
      font-size: 1.8rem;
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
   }
}

@media screen and (max-width: 768px) {
   * {
      box-sizing: border-box;
   }
   .home-container {
      position: static;
      width: 100vw;
      border-left: none !important;
      border-right: none !important;
      left: none;
      top: none;
      transform: none;
      margin: 0;
   }
}
