.home-container {
   position: absolute;
   left: 45.5%;
   transform: translate(-50%, 0);
   width: 28rem;
}

.home-heading p {
   font-weight: 600;
   background: red;
}

@media screen and (max-width: 1050px) {
   .home-container {
      position: absolute;
      left: calc(50% - 15%);
      transform: translate(-50%, 0);
   }
}
