/*left menu*/
.left-menu {
   position: fixed;
   width: 14rem;
   height: 100vh;
   padding: 1rem 1.2rem;
   font-size: 1.3rem;
   overflow-y: auto;
   white-space: nowrap;
   background: var(--body-color);
}

.left-menu-content {
   margin-left: 11px;
}

.twitter-logo {
   font-size: 1.9rem;
   color: var(--main-color);
}

/*logo twitter*/
.twitter-logo-container {
   margin-bottom: 22px;
}

/*itens menu*/
.itens {
   display: flex;
   flex-direction: column;
   gap: 16px;
   list-style: none;
}

/*item menu*/
.item {
   display: flex;
}

.item span {
   font-weight: bold;
   padding: 0px 12px;
}

/*image circle profile picture*/
.profile-picture {
   width: 20px;
   border-radius: 50px;
}

/*btn tweet*/
.tweet-btn {
   margin-top: 24px;
   width: 100%;
   height: 33px;
   font-size: 0.967rem;
   color: var(--body-color);
   background: var(--main-color);
   border-radius: 50px;
   border: none;
   box-shadow: 1px 5px 15px var(--body-color-2);
   font-weight: bold;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.mobile-tweet-btn {
   display: none;
   position: fixed;
   bottom: 4.5rem;
   right: 1rem;
   width: 55px;
   height: 55px;
   background: var(--main-color);
   border-radius: 50px;
   border: none;
   cursor: pointer;
   justify-content: center;
   align-content: center;
   align-items: center;
   
}

.mobile-tweet-btn img {
   width: 44%;
}

.mode-btn {
   position: absolute;
   cursor: pointer;
   bottom: 4rem;
}

.feather-icon {
   width: 55%;
   display: none;
}

.menu-bottom-mobile {
   display: none;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0,0,0, 0.8);
   z-index: 40;
   opacity: 0;
   transition: all .3s ease-in-out;
   display: none;
}
.overlay.show {
   opacity: 1;
   display: flex;
}

@media screen and (max-width: 970px) {
   .left-menu {
      position: fixed !important;
      z-index: 100;
      width: 18rem !important;
      border-right: 2px solid var(--body-color-2);
      transition: all .3s ease-in-out;
      left: -100%;
   }
   
   .open {
      left: 0;
   }
   .closed {
      transition: all .3s ease-in-out;
      left: -100%;
   }
   
   .home-container {
      z-index: 10;
   }
   
   .tweet-btn {
      display: none;
   }
   
   .item a {
      display: flex !important;
      flex-direction: row;
   }
   
   .itens span {
      display: flex !important;
      font-size: 1.5rem;
   }
   
   .left-menu-content {
      margin-left: none !important;
   }
   
   .menu-bottom-mobile {
      position: fixed;
      display: flex;
      z-index: 20;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 3.5rem;
      background: var(--body-color);
      border-top: 2px solid var(--body-color-2);
   }
   
   .menu-bottom-mobile ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      font-size: 1.7rem;
      margin-top: 17px;
   }
   
}

@media screen and (max-width: 1050px) {
   .left-menu {
      width: 2.5rem;
      font-size: 1.6rem;
   }
   
   .feather-icon {
      display: block;
   }
   
   
   .tweet-btn span {
      display: none;
   }
   
   .left-menu-content {
      margin-left: 8px;
   }
   
   .mobile-tweet-btn {
      position: fixed;
      right: 20px;
      bottom: 20px;
      width: 45px;
      height: 45px;
      background: var(--main-color);
   }
   .itens span {
      display: none;
   }
}