.left-menu {
    position: fixed;
    width: 14rem;
    height: 100vh;
    border-right: 2px solid var(--body-color-2);
    padding: 1rem 1.2rem;
    font-size: 1.3rem;
    overflow-y: auto;
    white-space: nowrap;
    background: var(--body-color);
}

.left-menu-content {
    margin-left: 11px;
}

.twitter-logo {
    font-size: 1.9rem;
    color: var(--main-color);
}

.twitter-logo-container {
    margin-bottom: 22px;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.item {
    display: flex;
}

.item span {
    font-weight: bold;
    padding: 0px 12px;
}

.mobile-screen {
    position: absolute;
    opacity: 0;
}

.profile-picture {
    width: 20px;
    border-radius: 50px;
}

.tweet-btn {
    margin-top: 24px;
    width: 100%;
    height: 33px;
    font-size: 0.967rem;
    color: var(--body-color);
    background: var(--main-color);
    border-radius: 50px;
    border: none;
    box-shadow: 1px 5px 15px var(--body-color-2);
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .left-menu {
        z-index: 100;
        height: 4rem;
        width: 100vw;
        bottom: 0;
        overflow-y: hidden;
        white-space: normal;
        align-items: center;
        padding: 0;
        font-size: 1.9rem;
        border-right: none;
        border-top: 2px solid var(--body-color-2);
    }

    .left-menu-content {
        margin-left: 0;
    }

    .itens {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .itens span,
    .tweet-btn {
        display: none;
    }

    .twitter-logo {
        position: absolute;
        left: -100px;
    }
    
    .mobile-screen {
        opacity: 1;
        position: static;
    }

    .big-screen {
        position: absolute;
        opacity: 0;
    }
}
