@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: transparent;
   -moz-text-size-adjust: none;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
}

:root {
   /*light mode colors*/
   --body-color: #fff;
   --main-color: #1ea1f2;
   --body-color-2: #d1dae0;
   --text-color: #000;

   /*dark mode colors*/
   --dark-body-color: #000;
   --dark-main-color: #1ea1f2;
   --dark-body-color-2: #2f3336;
   --dark-text-color: #fff;

   /*font size*/
   --font-size-normal: 1rem;
}
::-webkit-progress-value {
   background-color: var(--main-color);
}
::-moz-progress-bar {
   background-color: var(main-color);
}

body {
   background: var(--body-color);
   color: var(--text-color);
   font-family: "Roboto", sans-serif;
}

/*links*/
a {
   color: #000;
   text-decoration: none;
}

a:hover:not(.item a) {
   text-decoration: underline;
}

.selected {
   color: var(--main-color);
}
