@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
}

:root {
   --body-color: #fff;
   --main-color: #1EA1F2;
   --body-color-2: #D1DAE0;
   --font-size-normal: 1rem;
}

body {
   color: #000;
   font-family: 'Roboto', sans-serif;
}

a {
   color: #000;
   text-decoration: none;
}

.selected {
   color: var(--main-color);
}